/*GLOBAL*/
.test1 {
  border: 5px solid blue;
}

.shadow {
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.wide {
  width: 100%;
  margin-top: 2em;
  margin-bottom: 2em;
}
.wideContainer {
  width: 100%;
  min-height: 80vh;
  margin-top: 2em;
}

.centerElementsColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.centerElementsRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.centerText {
  text-align: center;
}

/*PAGE NOT FOUND*/
.pageNotFound {
  background: #eeeeee;
}

.pageNotFound401 {
  font-size: 10rem;
  font-weight: bold;
}

.pageNotFound401Msj {
  font-size: 2rem;
  font-weight: bold;
}

.pageNotFoundMsj {
  text-align: center;
}

/***********PRICES************/
.prices {
  background: #80deea;
}
.pricesHeader {
  font-size: 3rem;
  font-weight: bold;
}

.pricesMsj1 {
  margin-top: 20px;
  font-size: 2rem;
  font-style: italic;
  text-align: center;
}
.pricesMsj2 {
  margin-top: 20px;
  font-size: 1rem;
  font-style: italic;
  text-align: center;
}
